<div class="col-md-offset-3 col-md-6 text-center">
    <div class="page-header">
        <h1>Validate <small>Validates a South African ID Number</small></h1>
    </div>
    <div class="row well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="ID Number">
            <span class="input-group-addon" id="id-number"><span class="glyphicon glyphicon-tag"></span></span>
        </div>
    </div>
    <hr />
    <div class="row">
        <button class="btn btn-primary">Validate</button>
    </div>
</div>